/* default */
* {
  margin: 0;
}
:root {
  --font-roboto: 'Roboto Mono', monospace;
  --font-palatino: 'Orbitron', sans-serif;
  --color-l-main: #fff1dd;
  --color-main: #013a4c;
  --yellow: #FFD063;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  line-height: 20px;
  word-spacing: 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: var(--font-roboto);

}
.light body {
  background-color: var(--color-l-main);
  color: var(--color-main);
  background-size: 100%;
}

.dark body {
  background-color: var(--color-main);
  color: var(--color-l-main);
  background-size: contain;
}


body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

a {
  text-decoration: none;
  color: currentColor;
}

.box-nav {
  font-family: var(--font-palatino);
  font-weight: 700;
  padding: 2rem;
}
.arrow-up, #btn-arrow{
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  right: 30px;  
  display: none;
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 5px;
}

.arrow-up:hover {
  cursor: pointer;
}

.hero-title {
  text-align: center;
  font-family: var(--font-palatino);
  color: var(--yellow);
}
.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  /* width: 100%; */
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 550px;
  }

  h1 {
    font-size: 24px;
    left: 8%;
  }

  .text {
    font-size: 1em;
    line-height: 1em;
  }
  .project {
  columns: 1;
}
.tracking {
  font-size: 30px;
  padding-bottom: 5rem;
}
}
/*  */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 500px;
  }

  h1 {
    font-size: 30px;
  left: 25%;
  }

  .project {
  columns: 2;
}

  .text {
    font-size: 1.5em;
  line-height: 1.5em;
  }
  .project-text {
    font-size: 18px;
  }
  .tracking {
    font-size: 40px;
    padding-bottom: 5rem;
  }

}
/*  */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 700px;
  }

  h1 {
    font-size: 50px;
  }
  .project-text {
    font-size: 22px;
  }

}
/*  */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  h1 {
    font-size: 66px;
  }
  .project-text {
    font-size: 26px;
  }
  .light .hero-title:hover{
    color: var(--color-main);
  }
  .dark .hero-title:hover{
    color: var(--color-l-main);
  }

}
/*  */
.project-box img {
  width: 100%;
  -webkit-filter: drop-shadow(16px 16px 20px var(--yellow));
  filter: drop-shadow(16px 16px 20px var(--yellow));
}
.project-box img:hover {
  filter: none;
}
.project-box {
  position: relative;
}

.project-image {
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-box:hover .project-image {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.project-box:hover .middle {
  opacity: 1;
}

.project-text {
  color: var(--yellow);
  text-shadow: 1px 1px 2px var(--color-main);
}
.project-text a:hover {
  transition: 500ms;
  color: var(--color-main);
  text-shadow: 1px 1px 2px var(--yellow);
}
/*  */
.padding-up {
  padding-top: 7rem;
}
.padding-down {
  padding-bottom: 7rem;
}

.hero {
  background-image: url('/images/hero/hero.avif');
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
}
.item {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item a {
  margin: 10px;
}

.item svg {
  width: 40px;
  border-radius: 50%;
}
.light .item svg{
  fill: var(--color-main);
}
.dark .item svg{
  fill: var(--color-l-main);
}
.btn-email {
  padding: 10px 20px;
  border-radius: 10px;
}
.light .btn-email {
  border: 1px solid var(--color-main);
}
.dark .btn-email {
  border: 1px solid var(--color-l-main);
}

/* .item svg:hover {
  fill: var(--color-main);
  background: var(--color-l-main);
  transition: 500ms;
} */


/* .btn-email:hover {
  color: var(--color-main);
  background-color: var(--color-l-main);
  transition: 500ms;

} */

.light .text.element-show {
    background: linear-gradient(var(--color-main), var(--color-main)) left no-repeat, var(--yellow) ;
    background-size: 0% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: change 5s linear forwards;
  }
  .dark .text.element-show {
    background: linear-gradient(var(--color-l-main), var(--color-l-main)) left no-repeat, var(--yellow) ;
    background-size: 0% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: change 5s linear forwards;
  }

  @keyframes change {
    100% {
      background-size: 100% 100%
    }
  }
  
  .tracking.element-show {
    animation: tracking 2s cubic-bezier(.215, .61, .355, 1.000) both;
  }
  
  @keyframes tracking {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0
    }
  
    40% {
      opacity: .6
    }
  
    100% {
      transform: translateZ(0);
      opacity: 1
    }
  }
  .flex-skill {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .flex-skill p {
    line-height: 22px;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    text-transform: uppercase;
  }
  .light .flex-skill p{
    background-color: var(--color-main);
    color: #fff;

  }
  .dark .flex-skill p{
    background-color: var(--yellow);
    color: var(--color-main);
  }

  .container-skill {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: relative;
    text-align: start;
  }
  
  .skills {
    text-align: right;
    padding-right: 20px;
    line-height: 22px;
    background-color: var(--color-main);
  }
  .light .skills {
    background-color: var(--color-main);
    color: #fff;

  }
  .dark .skills {
    background-color: var(--yellow);
    color: var(--color-main);

  }

  .breadcramb {
    display: flex;
    align-items: center;
    text-align: start;
    padding-top: 10px;
  }
  .breadcramb svg {
    margin-right: 5px;
  }
  .h-block{
    height: 100vh;
  }
  .w-block {
    width: 50%;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  